:root {
  --white: hsl(0, 0%, 100%);
  --yellow: hsl(47, 88%, 63%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

body {
  font-family: 'Figtree', sans-serif;
  background-color: var(--yellow);
  font-size: clamp(0.875rem, 1vw + 0.5rem, 1.125rem);
}

.blog-container {
  display: grid;
  place-content: center;
  padding-block-start: 12rem;
}

.blog-card {
  border: 2px solid var(--gray-950);
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0 var(--gray-950);;
  max-width: 20rem;
  background-color: var(--white);
  padding: 1rem;
}

.blog-card__img {
  width: 100%;
  border-radius: 1rem;
  padding-block-end: 1rem;
}

.blog-card__btn {
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
  border-radius: 0.25rem;
  font-weight: 800;
  font-size: clamp(0.75rem, 0.8vw + 0.25rem, 0.9rem);
  min-width: 5rem;
}

.blog-card__published {
  font-size: clamp(0.85rem, 0.9vw + 0.3rem, 1rem);
  font-weight: 500;
}

.blog-card__title {
  font-size: clamp(1.25rem, 2vw + 0.5rem, 1.6rem);
  font-weight: 800;
}

.blog-card__title:hover {
  color: var(--yellow);
  cursor: pointer;    
}

.blog-card__description {
  color: var(--gray-500);
  font-weight: 500;
  font-size: clamp(0.8rem, 1vw + 0.3rem, 1rem);
}

.blog-card__author {
  display: flex;
  align-items: center;
  gap: .75rem;
}

.blog-card__author-img {
  width: 2rem;
  height: 2rem;
}

.blog-card__author-name {
  font-size: clamp(0.8rem, 1vw + 0.3rem, 1rem);
  font-weight: 800;
}